@model UI.Models.PluklistModel

@{
    ViewData["Title"] = "Index";
}
<h1>Lav ny plukliste</h1>

@if (!Model.Validate())
{
    <button class="btn btn-primary">
        <a style="color: white !important;  text-decoration: none;" asp-action="CreatePluklist">Create New</a>
    </button>
}

else
{
    <br />
    <h2>Info</h2>
    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Forsendelse)
                </th>
                <th></th>
            </tr>
        </thead>
        <thead>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Forsendelse)
                </td>
                <td>
                    @Html.ActionLink("Rediger", "EditPluklist", new {})
                </td>
            </tr>
        </thead>
    </table>
    <h2>Produkter</h2>
    <table class="table">
        <thead>

            <tr>
                <th>
                    ProduktID
                </th>
                <th>
                    Beskrivelse
                </th>
                <th>
                    Type
                </th>
                <th>
                    Antal
                </th>
                <td>
                    @Html.ActionLink("Tilføj produkt", "AddPluklistLine", new {pluklist = Model })
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Lines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => line.ProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => line.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => line.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => line.Amount)
                    </td>

                    <td>
                        @Html.ActionLink("Rediger", "EditPluklistLine", line.HasChanced =true)
                        @Html.ActionLink("Delete", "DeletePluklistLine", line.HasChanced =true)
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



